@mixin gradient() {
  & {
    background: linear-gradient(#DE6262, #ffb88c);
  }
}

//$font-primary: 'Hi Melody', cursive;
//$font-secondary: 'Press Start 2P', cursive;
//$font-primary: 'Space Mono', monospace;
$font-primary: 'Inconsolata', monospace;
$font-secondary: 'VT323', monospace;
$font-text: 'Roboto Condensed', sans-serif;
$primary-bg-color: rgba(250, 235, 215, 10%);
$font-size-primary: 2rem;
$primary-color: #5a5a5a;