$font-primary: 'Inconsolata', monospace;
$font-secondary: 'VT323', monospace;
$font-text: 'Roboto Condensed', sans-serif;
$primary-bg-color: rgba(250, 235, 215, 10%);
$font-size-primary: 2rem;
$font-size-secondary: 3rem;
$primary-color: #5a5a5a;
$color-light-1: #ffd89b;
$color-light-2: #5ea0cc;
$bp-largest: 81em;
$bp-large: 69em;
$bp-medium: 53em;
$bp-small: 30em;
$default-space: 2rem;


@mixin center {
  & {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin gradient() {
  & {
    background: linear-gradient($color-light-1, $color-light-2);
  }
}

@keyframes spin {
 0% { transform: rotate(0deg) scale(1); }
  100% { transform: rotate(360deg) scale(1.2); }
}

@keyframes jump {
  0% { transform: skewY(2rem); }
   100% { transform: skewY(5rem); }
 }