/* inconsolata-regular - latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inconsolata-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src:
    local('Inconsolata Regular'),
    local('Inconsolata-Regular'),
    url('../fonts/inconsolata-v16-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/inconsolata-v16-latin-regular.woff2') format('woff2'),
    url('../fonts/inconsolata-v16-latin-regular.woff') format('woff'),
    url('../fonts/inconsolata-v16-latin-regular.ttf') format('truetype');
}

/* inconsolata-700 - latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inconsolata-v16-latin-700.eot');
  src:
    local('Inconsolata Bold'),
    local('Inconsolata-Bold'),
    url('../fonts/inconsolata-v16-latin-700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/inconsolata-v16-latin-700.woff2') format('woff2'),
    url('../fonts/inconsolata-v16-latin-700.woff') format('woff'),
    url('../fonts/inconsolata-v16-latin-700.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-condensed-v16-latin-regular.eot');
  src:
    local('Roboto Condensed'),
    local('RobotoCondensed-Regular'),
    url('../fonts/roboto-condensed-v16-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-condensed-v16-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-condensed-v16-latin-regular.woff') format('woff'),
    url('../fonts/roboto-condensed-v16-latin-regular.ttf') format('truetype');
}

/* vt323-regular - latin */
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/vt323-v9-latin-regular.eot');
  src:
    local('VT323 Regular'),
    local('VT323-Regular'),
    url('../fonts/vt323-v9-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vt323-v9-latin-regular.woff2') format('woff2'),
    url('../fonts/vt323-v9-latin-regular.woff') format('woff'),
    url('../fonts/vt323-v9-latin-regular.ttf') format('truetype');
}

//Fonts
$font-primary: 'Inconsolata', monospace;
$font-secondary: 'VT323', monospace;
$font-text: 'Roboto Condensed', sans-serif;

//Font / Space
$font-size-primary: 2rem;
$font-size-secondary: 3rem;
$default-space: 2rem;

//Colors
$primary-color: #5a5a5a;
$primary-bg-color: rgba(250, 235, 215, 10%);
$color-light-1: #ffd89b;
$color-light-2: #5ea0cc;

//Break Points
$bp-largest: 81em;
$bp-large: 69em;
$bp-medium: 53em;
$bp-small: 30em;
$bp-smallest: 23em;

@mixin center {
  & {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin gradient() {
  & {
    background: linear-gradient($color-light-1, $color-light-2);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }

  100% {
    transform: rotate(360deg) scale(1.2);
  }
}
