.header {
  background-color: $primary-bg-color;
  width: 100%;
  min-height: 40vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media only screen and (max-width: $bp-large) {
    &__title {
      margin-bottom: 0;
    }
  }

  &__text {
    margin-top: $default-space;
    max-width: 100rem;
    text-align: center;
    margin-left: 1rem;

    @media only screen and (max-width: $bp-small) {
      margin-left: 0;
    }
  }
}

.console {
  color: rgba(236, 22, 22, 0.863);
}
.element {
  color: rgba(47, 15, 228, 0.534);
}
.func {
  color: rgb(173, 16, 90);
}
.func-name {
  color: rgba(248, 15, 15, 0.89);
}
.symbol {
  color: rgb(150, 150, 150);
}
.text {
  color: rgb(32, 187, 92);
}
