.card {
  max-width: 120rem;
  display: flex;
  margin: 0 auto;

  @media only screen and (max-width: $bp-large) {
    flex-direction: column;
    align-items: center;
  }

  &__site {
    flex: 0 0 33%;
    margin-right: $default-space;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media only screen and (max-width: $bp-large) {
      max-width: 80rem;
    }
    @media only screen and (max-width: $bp-medium) {
      margin: 0 1rem;
    }

    &__svg {
      height: 20rem;
      z-index: 10;
      transition: all 1.5s;
      &:hover {
        transform: translateY(-4rem)
      }
      @media only screen and (max-width: $bp-large) {
        margin: $default-space 0;
      }
    }

    &__container {
      &__img {
        display: block;
        width: 100%;
        height: auto;
      }
      &__text {
        height: 40rem;
        padding-left: $default-space;
        background-color: rgb(220, 220, 220);
        &--title {
          color: rgba(6, 143, 143, 0.904);
        }
      }
    }
  }
}