.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1rem;

  &__svg {
    transition: 1s all;
    z-index: 10;
    height: 20rem;
    width: 20rem;
    &:hover {
      transform: scale(1.2);
    }
    &:active {
      animation: spin 7s infinite;
    }
  }
  &__info {
    &__container {
      position: relative;
      z-index: 999;
      display: inline-block;
      margin: 3rem 2rem 2rem 0;
      &__svg {
        height: 5rem;
        width: 5rem;
        pointer-events: none;
      }
    }
  }
}

.tech {
  display: flex;
  margin-top: 6rem;
  padding: 0 30rem;
  justify-content: space-between;
  @media only screen and (max-width: $bp-medium) {
    flex-direction: column-reverse;
    padding: 0 10rem;
    align-items: center;
  }
  &__skills {
    max-width: 50rem;
  }
  &__svg {
    height: 30rem;
    width: 30rem;
    z-index: 10;
    &:hover {
      animation: spin 7s infinite;
    }
  }
}

