h1 {
  font-family: $font-secondary;
  font-size: 6rem;
  font-weight: 400;

  @media only screen and (max-width: $bp-small) {
    font-size: 3.8rem;
  }
}

h2 {
  font-size: 5rem;
  text-align: center;

  @media only screen and (max-width: $bp-small) {
    font-size: 4rem;
  }
}

h3 {
  font-size: 2rem;
  font-weight: 400;
}

h5 {
  color: #333;
  display: block;
  font-size: $font-size-secondary;
  font-weight: 700;
  max-width: 50rem;
}

.default-text {
  color: $primary-color;
  font-family: $font-text;
  font-size: 1.8rem;
  font-weight: 400;
}

.comment {
  background-image: linear-gradient(
    to right,
    rgb(41, 187, 231),
    rgb(51, 54, 228)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.big-space {
  margin: 15rem 1rem;
}
