.particles {
  height: 100%;
  position: fixed;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  @include gradient();

  color: $primary-color;
  font-weight: 400;
  font-family: $font-primary;
  font-size: $font-size-primary;
  height: 100%;
  line-height: 1.6;
}